<h1>Hello World</h1>
<p>Content Back to the Browser</p>

<a href="/demo/hello">Hello Page 1</a><br/>

<%= link_to("hello page 2",{:action=>'hello'}) %>

<br/>
<%= link_to("hello with parameters",{:action=> 'hello', :page=>5, :id=> 20}) %>
